<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Редактировать категорию</title>
</head>
<body>
<h1>Редактировать категорию</h1>
<br/>

<form action="#" th:action="@{/save_type}" th:object="${type}" method="post">
    <input type="hidden" th:field="*{id}">
    <table border="0" cellpadding="10">
        <tr>
            <td>Название:</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Сохранить</button></td>
        </tr>
    </table>
</form>
</body>
</html>